*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aquamarine;
    height: 50px;
    text-align: center;
    color: brown;
    font-size: 15px;

}
nav ul{
    display: flex;
    justify-content: center;
    margin: 20px;

}
nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    color: blueviolet;
    font-size: 20px;
}
main{
    background-color: bisque;
    width: 100%;

}
.row{
    display: flex;
    height: 600px;
    padding: 0px;
    text-align: justify;
}
.col{
    margin: 5px;
    background-color: burlywood;
    text-align: justify;
    padding: 5px;

}
h1,h2{
    text-align: center;
    padding: 20px;
}
footer{
    background-color: aquamarine;
    height: 100px;

}
footer p{
    text-align: center;
    margin: 20px;
    color: blue;
    text-decoration: underline;
}
/* media query 400px */
@media screen and (max-width:400px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    header{
        background-color: aquamarine;
        color: brown;
        padding: 0px;
        width: 400px;

    }
    nav{
        width: 400px;
        background-color: blue;
        margin: 0px;
        padding: 0px;

    }
    
    .row{
        width: 400px;
        height: 1200px;
       display: flex;
       flex-direction: column;
       
       padding: 0px;
       text-align: justify;

        
    }
    main{
        width: 400px;

    }
    .col{
        height: 600px;
        width: 350px;
        border: 3px solid black;
        margin-left: 23px;
        
       
    }
    section{
        width: 400px;
    }
}
